.signup {
    width: 100%;
    .form_grp {
        display: block;
    }
    .btn_grp {
        @extend %clearfix;
        padding-top: 2em;
    }
}
.treasure {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    .left_block, .right_block {
        flex: 1 1 calc(50% - 2em);
        margin: 1em 1em 1em;
        border: 2px solid $color-orange;
        background: #FFF;
        border-radius: $border-radius;
        padding: .5em;
        display: flex;
        flex-flow: row wrap;
        @include screen('mobile') {
            flex: 1 1 100%;
        }
        .form_grp {
            display: flex;
            flex: 1 1 100%;
        }
        .form_title {
            flex: 0 1 70px;
            width: auto;
            white-space: nowrap;
        }
        .form_content {
            flex: 1 1 50%;
            display: flex;
            @include screen('mobile') {
                flex-flow: row wrap;
                input[type="text"] {
                    flex: 1 1 100%;
                }
            }
            button {
                min-width: 6em;
                padding-left: .5em;
                padding-right: .5em;
                margin-left: 1em;
                @include screen('mobile') {
                    margin-left: auto;
                    margin-right: 0;
                }
            }
        }
    }
    .left_block {
        flex: 0 1 calc(46% - 2em);
        border: 2px solid $color-green;
        @include screen('mobile') {
            flex: 1 1 100%;
        }
    }
    .btn_grp {
        flex: 0 1 100%;
        @extend %clearfix;
        padding-top: 2em;
    }
}
.play_block {
    margin-top: 1em;
    text-align: center;
    @include screen('mobile') {
        margin-top: 0;
    }
}
.no-gutter {
    @include screen('mobile') {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
.ipcam {
    max-width: 400px;
    background: #666;
    position: relative;
    margin: 0 auto;
    &.ratio-9-16 {
        @include aspect-ratio(9, 16);
    }
    &.ratio-3-4 {
        @include aspect-ratio(3, 4);
    }
    @include screen('mobile') {
        margin: 0 auto;
    }
    .screen {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
    }
    .dropdown {
        position: absolute;
        right: .25em;
        top: 50%;
        .dropdown-btn {
            width: 3em;
            height: 3em;
            border-radius: 50%;
            border: none;
            background: rgba(0, 0, 0, .5);
            padding: 0;
            min-width: auto;
            padding: .75em .5em 0;
            text-align: center;
            &:hover, &:focus {
                border: none !important;
                outline: none !important;
                box-shadow: none !important;
            }
            i {
                filter: invert(100%);
                &:before {
                    margin-top: 0;
                    transform: scale(1.2);
                }
            }
        }
        .dropdown-content {
            position: absolute;
            background: rgba(0, 0, 0, .75);
            border-radius: $border-radius/2;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, .35);
            width: 280px;
            padding: 1em;
            right: 0;
            top: 0em;
            opacity: 0;
            pointer-events: none;
            text-align: left;
            transition: .6s cubic-bezier(0.215, 0.61, 0.355, 1);
            z-index: 9999;
            h3 {
                color: $primaryColor;
                font-size: 1.125rem;
                text-align: left;
                margin: 0 0 .5em;
                @include screen('mobile') {
                    color: #FFF;
                }
            }
            .btn_grp {
                display: block;
                position: relative;
                top: auto;
                right: auto;
                .btn {
                    padding: .4em !important;
                    font-size: 1rem;
                    width: 100%;
                }
            }
            &.show {
                opacity: 1;
                top: 3em;
                pointer-events: auto;
            }
        }
    }
    .quit_btn_grp {
        position: absolute;
        top: .25em;
        right: .75em;
        .btn {
            background: rgba(0, 0, 0, .35);
            border: none;
            color: #FFF;
            padding: .35em .6em;
            min-width: 1em;
            transition: .3s ease-out;
            i {
                filter: invert(100%);
            }
            &:hover, &:focus {
                background: rgba(0, 0, 0, .85);
                border: none !important;
                border: none !important;
                box-shadow: none !important;
            }
        }
    }
    .screen_btn_grp {
        position: absolute;
        bottom: 5.75em;
        right: .75em;
        .btn {
            background: rgba(0, 0, 0, .35);
            border: none;
            color: #FFF;
            padding: .35em .6em;
            min-width: 1em;
            transition: .3s ease-out;
            i {
                filter: invert(100%);
                &:before {
                    margin-top: 0;
                }
            }
            &:hover, &:focus {
                background: rgba(0, 0, 0, .85);
                border: none !important;
                border: none !important;
                box-shadow: none !important;
            }
        }
    }
    .control_panel {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: .5em .75em;
        max-width: 400px;
        text-align: left;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        background: rgba(0, 0, 0, .35);
        @include screen('mobile') {
            padding: .25em;
        }
        .btn_grp {
            text-align: left;
            flex: 0 1 20%;
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            &.play {
                flex: 0 1 20%;
                .btn {
                    flex: 1 1 100%;
                    margin-bottom: .25em;
                }
            }
            &.stop {
                flex: 1 1 20%;
                flex-flow: row nowrap;
                .btn {}
            }
            .btn {
                padding: .2em .4em;
                min-width: 2em;
                margin: 0 .2em;
                flex: 1 1 100%;
                margin-bottom: .25em;
            }
        }
    }
}
