* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}
// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;
    @include screen('mobile') {
        background: #FFF;
        overflow: hidden;
        overflow-y: auto;
    }
}
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}
.main {
    position: relative;
    margin: 0 auto;
    padding: 1em 0;
    background: #FFF;
    padding-top: 5em;
    min-height: 500px;
    section {
        position: relative;
        z-index: 1;
        margin-bottom: 2em;
    }
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    @include screen('mobile') {
        padding-top: 60px;
    }
    h2 {
        line-height: 1.25em;
        margin: .5em 0;
    }
}
////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    @include screen('mobile') {}
    >.container {
        max-width:960px;
        @include gutter(); //gutter 代表左右要留白
        @include screen('mobile') {
            @include gutter(1em);
        }
    }
    .inner_img{
        width: 100%;
        height: 120px;
        img{
            width: 100%;
            height: 120px;
            object-fit: cover;
        }
    }
    h2.title{
        text-align: center;
        display:block;
        font-size:2rem;
        width: 100%;
        small{
            font-size:1rem;
            display:block;
            margin: 0;
        }
    }
    .form_info{
        padding:1em;
        border-radius:$border-radius/2;
        display:block;
        background:#F1F1F1;
        font-size:.938rem;
        p{
            margin: 0;
        }

    }
}
.admin_wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px auto;
    background: url(../images/feature_bg.jpg) no-repeat center center;
    background-size: cover;
    // background: #43cea2;
    // /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    // /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #185a9d, #43cea2);
    // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    @include box-sizing;
    // @include screen('mobile') {
    //     position:relative;
    // }
    .login {
        .mask {
            width: 90%;
            height: 380px;
            margin: 0px auto;
            overflow: hidden;
            position: relative;
            @include screen('xs_mobile') {
                height: 450px;
                width: 100%;
            }
            .login_block {
                position: absolute;
                width: 100%;
                // outline: 1px solid red;
            }
            .forget_block {
                position: absolute;
                left: 100%;
                width: 100%;
            }
        }
        &:before {
            position: absolute;
            width: 80px;
            height: 80px;
            top: -60px;
            left: 50%;
            margin-left: -40px;
            content: "";
            background: url(../images/user.png) no-repeat center center #FFF;
            background-size: 80px;
            @include border-radius(50%);
            border: 5px solid #FFF;
            @include box-shadow(2px 2px 15px rgba(0, 0, 0, .4));
            display: none;
        }
        &:after {
            position: absolute;
            width: 100%;
            height: 20px;
            background: #dedede;
            bottom: 0;
            left: 0;
            content: "";
            @include border-radius(0px 0px 5px 5px);
        }
        animation-fill-mode: both;
        animation-duration: 1s;
        animation-name: bounceInDown;
        position: fixed;
        width: 380px;
        min-height: 440px;
        background: #FFF;
        @include border-radius(5px);
        top:8%;
        left: 50%;
        margin-left: -190px;
        padding:2em 1.5em;
        @include box-sizing;
        @include box-shadow(0px 5px 15px RGBA(0, 0, 0, .5));
        @include screen('xs_mobile') {
            top: 20px;
            width: 90%;
            left: 5%;
            min-height: 520px;
            margin-left: 0;
            padding: 1em;
        }
        label {
            display: none;
        }
        .form_grp {
            border-bottom: none;
            margin-bottom: .1em !important;
        }
        .btn_grp {
            margin-bottom: 1.6em;
            input[type="submit"],
            input[type="reset"] {
                padding-left: 2em;
                padding-right: 2em;
            }
            @include screen('mobile') {
                margin-bottom: .2em;
            }
        }
        .form_content {
            .captcha {
                float: left;
                margin: 0px .5em 0 0;
                &~input[type="text"] {
                    width: 170px !important;
                    display: inline-block;
                    width: auto;
                    padding-right: 45px;
                }
                &~a {
                    display: block;
                    position: absolute;
                    top: .5em;
                    right: .5em;
                    width: 26px;
                    height: 26px;
                    @include border-radius(50%);
                    background: #DEDEDE;
                    text-align: center;
                    img {
                        margin-top: .3em;
                        opacity: .4;
                    }
                }
            }
            width: 100%;
            @include gutter(0);
            input[type="text"],
            input[type="password"] {
                border: none;
                font-weight: bold;
                @include border-radius(0);
                border-bottom: 1px solid #CCC;
                &:focus {
                    box-shadow: none;
                    border-bottom: 1px solid $color-orange;
                }
            }
            input {
                transition: .3s ease-out;
                &.id {
                    background: url(../images/icon_id.png) no-repeat left .6em;
                    padding-left: 1.5em;
                }
                &.pw {
                    background: url(../images/icon_pw.png) no-repeat left .6em;
                    padding-left: 1.5em;
                }
            }
        }
    }
    h1 {
        line-height: 1.2em;
        text-align: left;
        margin: .2em 0 .5em;
        text-align: center;
        img{
            max-width:80%;
            margin: 0 auto;
        }
        @include screen('mobile') {
            font-size: 1.2em;
            margin-bottom: 0;
        }
    }
    h2 {
        text-align: left;
    }
}
// animation
@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}
